* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.164);
}

#cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    padding: 5%;
    border-radius: 25px;
}

img{
    width: 100px;
    padding-bottom: 15px;
}

h2 {
    padding-bottom: 15px;
    font-size: 2.4vh;
}

.descri{
    font-size: 1.8vh;
    font-weight: 500;
    padding-bottom: 20px;

}

p {
    font-weight: bold;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.137);
    padding: 10%;
    border-radius: 20px;
    transition: 0.5s ease-out;
}

.box:hover {
    transform: translateY(-3%);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}